@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
  padding: 0;
}

body {
    max-width: 980px;
    margin: auto;
}

/* navigation */

.bg-light {
    background-color: #182030!important;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    min-height: 70px;
}

.navbar-light .nav-item .nav-link {
    color: #FFD195;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-align: end;
    width: 110px;
    height: 40px;
    margin: 0px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #434a63;
    font-size: 20px;
    /* border: 2px solid #434a63; */
}

.navbar-toggler {
    background-color: #FFD195;
}

/* .navbar-light .navbar-toggler {
    color: #182030;
    border-color: #182030;
} */

.navbar-item-container {
    width: 110px;
    height: 40px;
    padding: 0px;
}


/* general info */

.general-container {
    background-image: url(../images/back-image.jpg);
    background-size: cover;
    height: 668px;
    padding: 25px;
    display: grid;
    grid-template-areas:
      "general-photo general-info"
      "general-btn general-description"      
}

.general-photo {
    width: 400px;
    height: 267px;
    align-self: center;
    justify-self: center;
    grid-area: general-photo; 
}

.general-photo img {
    width: 400px;
}

.general-info {
    align-self: center;
    justify-self: center;
    grid-area: general-info;
}

.general-my-name {
    color: #FFD195;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.general-my-role {
    color: #FFD195;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

.general-description {
    align-self: flex-start;
    justify-self: center;
    grid-area: general-description;
}

.profile-description {
    color: #FFD195;
    width: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: justify;
}

.general-btn {
  grid-area: general-btn;
  align-self: flex-end;
  justify-self: center;
  margin-bottom: 30px;
}

.btn-download-button-gen {
    background-color: #FFD195;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #182030;
    align-self: flex-end;
    justify-self: center;
}

.btn-download-button-gen:hover {
    color: #434a63;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/* Experience */
.workexperience-container {
    background-color: #FFD195;
}

.workexperience-container h2 {
    color: #858EAD;
}

.position-title {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
  color: #FFD195;
}

.company {
	color: #ff6b08;
  text-align: justify;
}

.period {
	color: #a8a8a8;
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
}
.line {
	color: #a8a8a8;
}
.resp {
	color: #e2e2e2;
  font-size: 14px;
	line-height: 24px;
}

.resp-list-items {
	color: #e2e2e2;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-left: 17px;

}
/*timeline css*/
.timeline .tml-list .tml-list-item {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #e2e2e2;
}
 
.timeline .tml-list .tml-list-item::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline .timeline-container {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #182030;
}
 
.timeline .timeline-container::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline .tml-list .tml-list-item:nth-child(odd) .timeline-container {
  left: 45px;
}
 
.timeline .tml-list .tml-list-item:nth-child(odd) .timeline-container::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #182030 transparent transparent;
}

.timeline .tml-list .tml-list-item:nth-child(even) .timeline-container {
  left: -439px;
}
 
.timeline .tml-list .tml-list-item:nth-child(even) .timeline-container::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #182030;
}






/* Skills */
.skills-container {
    background-color: #182030;
}

.skills-container h2 {
    color: #FFD195;
}

/* Education */
.education-container {
    background-color: #FFD195;
    /* min-height: 1000px; */
}

.education-container h2 {
    color: #858EAD;
}




/* Certification */
.certification-container {
    background-color: #182030;
    min-height: 500px;
}

.certification-container h2 {
    color: #FFD195;
}

.w-100 {
    width: 25%!important;
}

.carousel-inner img {
    margin: auto;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

/* Contacts */
.contacts-container {
    background-color: #FFD195;
    padding: 10px;
}

.contacts-container h2 {
    color: #858EAD;
}

.contacts-container-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contacts-title {
    color: #FFD195;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}
/* My contacts container */
.my-contacts-container {
    width: 396px;
    height: 450px;
    background-color: #182030;
    margin: 15px 0px;
}

.my-contacts-link {
    margin: 20px 40px;
}

.contacts-link-type {
    color: #FFD195;
}

.write-me-container {
    width: 396px;
    height: 450px;
    background-color: #182030;
    margin: 15px 0px;
}


/* Write me container */
.wrm-field-container{
    text-align: center;
    margin: 15px 0px;
}

.wrm-name {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    background-color: #C4C4C4;
    border: 0px;
    margin: 5px;
    padding: 5px;
}
/* .wrm-name:focus {
  background-color: lightcoral;
} */

.wrm-email{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    background-color: #C4C4C4;
    border: 0px;
    margin: 5px;
    padding: 5px;
}

.wrm-subject {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    background-color: #C4C4C4;
    border: 0px;
    margin: 5px;
    padding: 5px;
}



.wrm-textarea {
    width: 300px;
    height: 120px;
    border-radius: 10px;
    background-color: #C4C4C4;
    border: 0px;
    margin: 8px;
    padding: 5px;
}

.btn-submit-container {
    text-align: end;
    margin-right: 48px;
    margin-top: 30px;
}

.btn-submit {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #C4C4C4;
    border: 0px;
}

/* download button */

.btn-download-button-cont {
    background-color: #182030;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    line-height: 40px;
    margin-left: 47px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #FFD195;
}

.btn-download-button-cont:hover {
    color: #434a63;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}


/* footer */
.footer-container {
    background-color: #182030;
    min-height: 70px;
}

.footer-text {
    color: #FFD195;
    line-height: 70px;
    text-align: center;
    font-size: 20px;
} 


/* from marathon */

.education-container {
	margin-bottom: 55px;
}
.institution-name {
	color: #ff6b08;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 15px;
	margin-top: 10px;
}

.speciality {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 14px;
}

.institution {
	margin-top: 30px;
}


/* message */
.alertmess .header {
    background-color: #182030;
    text-align: center;
    color: #FFD195;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
}

.text-area {
  width: 30%;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -800px);
  background-color: #FFD195;
  color: #182030;
  padding: 0px;
  border-radius: 5px;
  transition: all 1s ease-in-out;
  text-align: center;
  font-size: 15px;
}

.text-area.show {
  transform: translate(-50%, 0);
}

.text-area .okbtn {
  width: 60px;
  float: right;
  text-align: center;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;

}



