@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
    padding: 0;
}

body {
    max-width: 980px;
    margin: auto;
}

/* navigation */

.bg-light {
    background-color: #182030!important;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    min-height: 70px;
}

.navbar-light .nav-item .nav-link {
    color: #FFD195;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-align: end;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #434a63;
    font-size: 22px;
}

.navbar-toggler {
    background-color: #FFD195;
}

.navbar-light .navbar-toggler {
    color: #182030;
    border-color: #182030;
}

.navbar-item-container {
    width: 131px;
    height: 36px;
}


/* general info */

.general-container {
    background-image: url(../images/back-image.jpg);
    background-size: cover;
    height: 698px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}

.general-photo {
    width: 400px;
    height: 267px;
    grid-column: 1 / 1;
    align-self: center;
    justify-self: center;
    
}

.general-photo img {
    width: 400px;
}

.general-info {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.general-my-name {
    color: #FFD195;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.general-my-role {
    color: #FFD195;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

.general-description {
    grid-column: 2;
    grid-row: 2;
    align-self: flex-start;
    justify-self: center;
}

.profile-description {
    color: #FFD195;
    width: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: justify;
}

.download-button-nav {
    background-color: #FFD195;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    grid-column: 1;
    grid-row: 2;
    align-self: flex-end;
    justify-self: center;
    margin-bottom: 50px;
}

.download-button-general {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #182030;
    line-height: 50px;
    margin-left: 65px;
    margin-right: 65px;
}

.download-button-general:hover {
    color: #434a63;
    text-decoration: none;
}

/* Experience */
.workexperience-container {
    background-color: #FFD195;
}

.workexperience-container h2 {
    color: #858EAD;
}

/* Skills */
.skills-container {
    background-color: #182030;
}

.skills-container h2 {
    color: #FFD195;
}

/* Education */
.education-container {
    background-color: #FFD195;
}

.education-container h2 {
    color: #858EAD;
}

/* Certification */
.certification-container {
    background-color: #182030;
}

.certification-container h2 {
    color: #FFD195;
}

.w-100 {
    width: 25%!important;
}

.carousel-inner img {
    margin: auto;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

/* Contacts */
.contacts-container {
    background-color: #FFD195;
    padding: 10px;
}

.contacts-container h2 {
    color: #858EAD;
}

.contacts-container-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contacts-title {
    color: #FFD195;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}
/* My contacts container */
.my-contacts-container {
    width: 396px;
    height: 450px;
    background-color: #182030;
    margin: 15px 0px;
}

.my-contacts-link {
    margin: 20px 40px;
}

.contacts-link-type {
    color: #FFD195;
}

.write-me-container {
    width: 396px;
    height: 450px;
    background-color: #182030;
    margin: 15px 0px;
}


/* Write me container */
.wrm-field-container{
    text-align: center;
    margin: 15px 0px;
}

.wrm-name {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    background-color: #C4C4C4;
    border: 0px;
    margin: 5px;
    padding: 5px;
}
/* .wrm-name:focus {
  background-color: lightcoral;
} */

.wrm-email{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    background-color: #C4C4C4;
    border: 0px;
    margin: 5px;
    padding: 5px;
}

.wrm-subject {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    background-color: #C4C4C4;
    border: 0px;
    margin: 5px;
    padding: 5px;
}





.wrm-textarea {
    width: 300px;
    height: 120px;
    border-radius: 10px;
    background-color: #C4C4C4;
    border: 0px;
    margin: 8px;
    padding: 5px;
}

.btn-submit-container {
    text-align: end;
    margin-right: 48px;
    margin-top: 30px;
}

.btn-submit {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #C4C4C4;
    border: 0px;
}

.btn-check-container {
    text-align: end;
    margin-right: 48px;
    margin-top: 5px;
}

.btn-check {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #C4C4C4;
    border: 0px;
}


/* download button */

.download-button-cont {
    background-color: #182030;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    line-height: 50px;
    margin-left: 47px;
}

.download-button-cont a {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #FFD195;
    margin: 65px;
}

.download-button-cont a:hover {
    color: #434a63;
    text-decoration: none;
}

/* button */
/* .btn-download-button-cont {
    background-color: #182030;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    line-height: 50px;
    margin-left: 47px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #FFD195;
    margin: 65px;
}

.btn-download-button-cont:hover {
    color: #434a63;
    text-decoration: none;
} */


/* footer */
.footer-container {
    background-color: #182030;
    min-height: 70px;
}

.footer-text {
    color: #FFD195;
    line-height: 70px;
    text-align: center;
    font-size: 20px;
} 


/* CHANGED part for experience */
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

.rounded-circle {
  border-radius: 0% !important;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

/* from marathon */
.position-title {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.company {
	color: #ff6b08;
	margin-top: 10px;
	margin-bottom: 15px;
}

.period {
	color: #a8a8a8;
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
}
.line {
	color: #000000;
}
.resp {
	margin-top: 14px;
	font-size: 14px;
	line-height: 24px;
}
.resp-list {
	margin-bottom: 30px;
}
.resp-list-items {
	color: #595959;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-left: 17px;

}
.education-container {
	margin-bottom: 55px;
}
.institution-name {
	color: #ff6b08;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 15px;
	margin-top: 10px;
}

.speciality {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 14px;
}

.institution {
	margin-top: 30px;
}


/* message */

.alertmess .header {
    background-color: #182030;
    text-align: center;
    color: #FFD195;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
}

.text-area {
  width: 30%;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -800px);
  background-color: #FFD195;
  color: #182030;
  padding: 0px;
  border-radius: 5px;
  transition: all 1s ease-in-out;
  text-align: center;
  font-size: 15px;
}

.text-area.show {
  transform: translate(-50%, 0);
}

.text-area .okbtn {
  width: 60px;
  float: right;
  text-align: center;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;

}



