@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    margin: auto;
}

/* navigation */

.bg-light {
    background-color: #182030!important;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.navbar-light .nav-item .nav-link {
    color: #FFD195;
    padding: 0 40px 0 0;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #434a63;
    font-size: 24px;
}

.navbar-toggler {
    background-color: #FFD195;
}

.navbar-light .navbar-toggler {
    color: #182030;
    border-color: #182030;
}

/* general info */

.general-container {
    background-image: url(../images/back-image.jpg);
    background-size: cover;
    height: 698px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.general-photo {
    width: 500;
    padding: 50px;
    grid-column: 1 / 1;
}

.general-photo img {
    width: 500px;
}

.general-info {
    padding-right: 50px;
    grid-column: 2;
    grid-row: 1;
}

.general-desc {
    grid-column: 2;
    grid-row: 2;
}

.general-my-name {
    color: #FFD195;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 150px;
}

.general-my-role {
    color: #FFD195;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.general-profile-description {
    color: #FFD195;
    width: 534px;
    height: 268px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: justify;
    padding-top: 10px;
}

.download-button-nav {
    background-color: #FFD195;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    margin: 50px;
    grid-column: 1;
    grid-row: 2;
    align-self: end;
    padding: 0;
}

.download-button-general {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #182030;
    margin: 65px;
}



/* Experience */
.workexperience-container {
    background-color: #FFD195;
}

.workexperience-container h2 {
    color: #858EAD;
}

/* Skills */
.skills-container {
    background-color: #182030;
}

.skills-container h2 {
    color: #FFD195;
}

/* Education */
.education-container {
    background-color: #FFD195;
}

.education-container h2 {
    color: #858EAD;
}

/* Certification */
.certification-container {
    background-color: #182030;
}

.certification-container h2 {
    color: #FFD195;
}

.w-100 {
    width: 25%!important;
}

/* Contacts */
.contacts-container {
    background-color: #FFD195;
}

.contacts-container h2 {
    color: #858EAD;
}

.download-button-cont {
    background-color: #182030;
    width: 350px;
    height: 50px;
    border-radius: 10px;
}

.download-button-cont a {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #FFD195;
    margin: 65px;
}